
<section class="container referee">
<div class="head">
    <h2>REFEREES</h2>
</div>
<div class="referee-container row">

    <div class="referee-content col-md-6">
    <h3>Gerry Travers</h3>
    <h4>CEO of Ovation Entertainment</h4>
    <h4><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>gtravers@ovationchannel.com</h4>
    <h4><i class="fa fa-phone fa-fw" aria-hidden="true"></i>0432842068</h4>
    </div>

    <div class="referee-content col-md-6">
    <h3>Charles Horry</h3>
    <h4>On Air Service Manager of Ovation Entertainment</h4>
    <h4><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>chorry@ovationchannel.com</h4>
    <h4><i class="fa fa-phone fa-fw" aria-hidden="true"></i>0448918321</h4>
    </div>

</div>
</section>