<section class="container top-part">
    <div class="row">

      <div class="col-md-4 name-left">
        <div class="small-version-top">
          <p>Version 1.0.0</p>
        </div>
        <div class="name-bar">
          <h2>Jasen Pan</h2>
        </div>
        <div class="small-desc-bottom">
          <p>Passionate Full-Stack Developer</p>
        </div>
      </div>

      <div class="col-md-4 contact-mid">
        <ul class="contact-list">
          <li><i class="fa fa-phone fa-fw" aria-hidden="true"></i>0413330588</li>
          <li><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>jasenpan@gmail.com</li>
          <li><i class="fa fa-github fa-fw" aria-hidden="true"></i>https://github.com/Jasenpan1987</li>
        </ul>
      </div>
    
      <div class="col-md-4 contact-mid">
        <ul class="contact-list">
          <li><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>Sydney, NSW</li>
          <li><i class="fa fa-rss fa-fw" aria-hidden="true"></i>Blog (Chinese)</li>
        </ul>
      </div>

    </div>
  </section>