<section class="container experience">
    <div class="head">
      <h2>WORKING EXPERIENCE</h2>
      <p>
        <span><img class="experience-company-logo" src="/images/ovationlogo.png" alt="ovationLogo"></span>
        <span class="experience-company">Ovation Pty Ltd | www.ovationchannel.com | July 2013 > May 2016</span></p>
    </div>

    <div class="row responsibilities">
      <h3><strong>Key responsibilities:</strong> </h3>

      <div class="col-md-4 resp-block">
        <h3><strong>Full Stack Developer</strong></h3>
        <p>Design and build application architectures by looking both client side and server side 
        as a whole. Choose the most appropriate tech stack and frameworks to satisfy the user and 
        customer’s need.</p>
      </div>

      <div class="col-md-4 resp-block">
        <h3><strong>App Developer</strong></h3>
        <p>Research and develop applications on different platforms such as Smart TVs, 
        Mobile Devices and STBs, and manage the security, scalability and user experience for 
        a number of applications. Take care the issues of application migration, 
        upgrading and maintenance.</p>
      </div>

      <div class="col-md-4 resp-block">
        <h3><strong>System Administrator</strong></h3>
        <p>Monitoring and testing with company server, manage the company online shop, and give
        assistant to customers as well as create the user manual and other technical documents.</p>
      </div>
      
    </div>
  </section>