<section class="container recent-projects">
    <div class="head">
      <h2>
        RECENT PROJECTS
      </h2>
    </div>

    <div class="row project-first-column">
      
      <div class="col-md-4 project">
        <h4>Ovation Channel Samsung/Panasonic Apps <span class="project-role"><br>- Leading Developer</span></h4>
        <p>Leading developer for Ovation Channel Apps on Samsung/Panasonic and LG Smart TV platforms. 
        (July 2012 - Sept 2013)</p>
        <p>Tech-stacks and tools: Samsung/Panasonic Smart TV SDK, HTML and CSS, Javascript, jQuery...</p>
      </div>

      <div class="col-md-4 project">
        <h4>Ovation Channel Android App <span class="project-role"> <br>- Leading Developer</span></h4>
        <p>Designed and developed Ovation Channel App on Android with additional functionality such 
        as In-app Purchase and Chrome Cast Integration. (June 2014 - Oct 2014)</p>
        <p>Major tech-stacks and tools: Android SDK and Java as the developing language</p>
      </div>

      <div class="col-md-4 project">
        <h4>K-Channel Samsung App <span class="project-role"> <br>- Leading Developer</span></h4>
        <p>Leading developer for Kchannel App (A Karaoke App launched in UK and Ireland) on Samsung 
        Smart TV platform. (Nov 2013 - March 2014)</p>
        <p>Major tech-stacks and tools: Samsung Smart TV SDK, HTML and CSS, Javascript, jQuery...</p>
      </div>

    </div>

    <div class="row project-second-column">
      <div class="col-md-4 project">
        <h4>K-Channel API Server <span class="project-role"> <br>- Leading Developer</span></h4>
        <p>Designed and developed the Kchannel server side code and APIs for the third party 
        developers by using nodeJs, mySql and restify (v1.x) and express (v2.x). (July 2014 - Mar 2015)</p>
        <p>Major tech-stacks and tools: Nodejs, Express, MySql, PassportJs ...</p>
      </div>

      <div class="col-md-4 project">
        <h4>Ovation Tool-Set <span class="project-role"><br>- Leading Developer</span></h4>
        <p>The Tool-Set includes a cloud server monitor, a stream validator, a channel schedule uploader, 
        a psudo stream scheduler and more... This tool-set was aimed to simplify the channel manager's 
        daily work, and it did the job successfully.</p>
        <p>Major tech-stacks and tools: HTML, CSS, Javascript, jQuery, Php (Magento), Nodejs, Node Webkit...</p>
      </div>

      <div class="col-md-4 project">
        <h4>Ovation Channel Website <span class="project-role"><br>- Participated</span></h4>
        <p>Participated in updating, optimizing and maintaining the 
        <a href="https://www.ovationchannel.com.au/">Ovation Company Website</a> as well as uploading new 
        contents and managing the <a href="http://www.ovationchannel.com.au/shop">online store</a>.
        </p>
        <p>Major tech-stacks and tools: HTML, CSS, Javascript, jQuery, Php (Magento)...</p>
      </div>
    </div>
  </section>