<section class="tech-skill container">
  <div class="head">
    <h2>TECHNICAL SKILLS</h2>
  </div>
  <div class="row">
    <div class="col-md-3 skill-list">
      <h3>Basics</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript and jquery</li>
      </ul>
    </div>

    <div class="col-md-3 skill-list">
      <h3>Frameworks</h3>
      <ul>
        <li>React + Redux + React-router</li>
        <li>Vue + Vuex + Vue-router</li>
        <li>Angular (1.x) + ui-router</li>
        <li>React Native</li>
        <li>Samsung Smart TV SDK</li>
        <li>Bootstrap</li>
        <li>Nodejs and Express</li>
        <li>WeApp (aka 微信小程序)</li>
        <li>Android SDK</li>
      </ul>
    </div>

    <div class="col-md-3 skill-list">
      <h3>Tools</h3>
      <ul>
        <li>Gulp</li>
        <li>Webpack</li>
        <li>Babel</li>
        <li>Git</li>
      </ul>
    </div>
  
    <div class="col-md-3 skill-list">
      <h3>Database</h3>
      <ul>
        <li>Mysql</li>
        <li>Mongodb</li>
        <li>Oracle</li>
      </ul>
    </div>
  </div>
  <div class="row skill-icons">
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-heroku-original colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-bower-plain colored"></i>
      <i class="fa fa-weixin" aria-hidden="true"></i>
      <i class="devicon-babel-plain colored"></i>
      
      <div class="col-md-12 other-skills">
        <h3>Other Skills: </h3>
        <ul>
            <li>Data Mining Algorithms and related software (weka)</li>
            <li>Creating Technical documents</li>
            <li>Translate document from English into Chinese (NATTI certified translator)</li>
            <li>Project Management (Prince 2)</li>
            <li>Native Mandarin speaker and proficient English speaker</li>
        </ul>
      </div> 
  </div>
  </section>