<section class="container education">
    <div class="head">
      <h2>EDUCATION</h2>
    </div>
    <div class="education-content">
      <p>Free Code Camp (Nov 2016 - Now)</p>
      <p>Master of IT from University of Sydney (Mar 2012 - Nov 2012)</p>
      <p>Bachelor of IT from University of Technology Sydney (Jul 2009 - Nov 2011)</p>
      <p>Diploma of IT from UTS INSEARCH (June 2008 - May 2009)</p>
    </div>

    <div class="education-logos row">
      <div class="logo-wrapper col-md-3 col-md-offset-2">
        <img src="/images/fcclogo.png" alt="fcc logo">
      </div>

      <div class="logo-wrapper col-md-3">
        <img src="/images/usydlogo.png" alt="usyd logo">
      </div>

      <div class="logo-wrapper col-md-3">
        <img src="/images/utslogo.png" alt="uts logo">
      </div>
    </div>
  </section>