<section class="personal-summary container">
    <div class="heading">
      <h2>PERSONAL SUMMARY</h2>
    </div>
    <div class="content">
      <p>
        I’m a middle senior level Full Stack Developer with around two year full stack development experience. 
I have a good understanding of developing web sites and web apps, and I also have development experiences on a number of different platforms includes Web, Smart TV, STB and Android devices. On the other hand, I have a good ability to convert client requirements into  the actual online applications.
I’m a fast learner of new technologies, and I’m also a bright and easy going person. Apart from these, I’m a dedicate Geek who enjoys coding a lot.
      </p>
    </div>
  </section>